.home-page {
  padding: 20px;
  @media (min-width: 768px) {
    padding: 20px 40px;
  }
  .layout {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
    gap: 50px;
    @media (min-width: 1100px) {
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 50px;
    }
    .group {
      padding: 10px;
      background-color: #a6cdc6;
      border-radius: 10px;
      padding: 20px 15px;
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      
      h1 {
        margin-bottom: 10px;
        color: #dda853;
        font-size: 25px;
        font-weight: 800;
      }
      .list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .card {
          background-color: #ccf8f0;
          padding: 10px;
          border-radius: 10px;
          box-shadow: 0 0 10px;
          font-size: 13px;
          .card-top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:0 15px;
            .head{
              display: flex;
              gap: 10px;
              align-items: center;
              .letter{
                  background-color: #dda853;
                  width: 50px;
                  display: grid;
                  place-items: center;
                  height: 50px;
                  border-radius: 50%;
                }
            }
            .icons{
              display: flex;
              align-items: center;
              gap: 5px;
              button, .edit {
                cursor: pointer;
                font-size: 20px;
                transition: all .4s;
                &:hover{
                  color: #DDA853;
                }
              }
              .edit{
                font-size: 23px;
              }
              
            }
           
          }
          
          .line{
            height: 1px;
            background-color: #16404D;
            margin-top: 10px;
            width: 90%;
            margin: 15px auto;
          }
          .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 15px;
            margin-top: 15px;
            .company {
                margin-top: 10px;
                font-size: 20px;
            }
            .location{
display: flex;
align-items: center;
gap: 10px;
.ikon{
    font-size: 16px;
}
            }
            .card-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .date{
                    font-weight: 600;
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .ikon{
                        font-size: 16px;
                    }

                }
                .type{
                    background-color:#a6cdc6;
                    padding: 5px 10px;
                    border-radius: 6px;
                    font-size: 15px;
                    white-space: nowrap;
                }

            }
          }
        }
      }
    }
  }
}
